 <div id="business-card"></div>
      <div class="row b-card col-md-4">
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="..." />
          <div class="card-body">
            <h3 class="business-name">{{name}}</h3>
            <div>
            <ul style="list-style-type:none; padding: 0;">
            <li class="card-text">{{city}}</li>
            <li class="card-text">{{address}}</li>
            <li class="card-text">{{phone}}</li>
            <li class="card-text">{{twitter}}</li>
            <li class="card-text">{{instagram}}</li>
            <li class="card-text">{{facebook}}</li>
            </ul>
            </div>
          </div>
        </div>
      </div>
      