<div id="business-card" class="col-sm">
  <ul class="list-unstyled">
    <li class="media">
      <div class="media-body b-card">
        <h3 class="business-name article-title"><i id="business-icon" class="fas fa-{{imageURL}}"></i> {{name}}</h3>
        {{#if address}}
        <p class="business-address"><a class="address-link" href="https://www.google.com/maps/search/?api=1&query={{address}}"
            target="_blank">{{address}}</a></p>
        {{/if}}
        {{#if website}}
        <p class="business-card-text"><a href="{{website}}" target="_blank"><i class="fas fa-globe-americas"></i> Website</a> | 
        {{/if}}
        {{#if phone}}
        <a href="tel:{{phone}}"><i class="fas fa-phone"></i> Call Us</a> | Follow us:
        {{/if}}
        {{#if twitter}}
        <a href="{{twitter}}" target="_blank"><i class="fab fa-twitter"></i></a> |
        {{/if}}
        {{#if instagram}}
        <a href="{{instagram}}" target="_blank"><i class="fab fa-instagram"></i></a> |
        {{/if}}
        {{#if facebook}}
        <a href="{{facebook}}" target="_blank"><i class="fab fa-facebook-f"></i></a>
        {{/if}}
        </p>
      </div>
    </li>
  </ul>
</div>
  