<div class="col mb-4">
  <ul class="list-unstyled">
    <li class="media">
      <div class="media-body b-card">
        <h3 class="mt-0 mb-1 business-name article-title"><i class="fas fa-cookie-bite"></i> {{name}}</h3>
        <p class="business-address"><a href="https://www.google.com/maps/search/?api=1&query={{address}}"
            target="_blank">{{address}}</a></p>
        <p class="business-card-text"><a href="{{website}}" target="_blank">Check out our Website</a> | 
        <a href="tel:{{phone}}">Call Us</a> | Follow us:
        <a href="{{twitter}}" target="_blank">Twitter</a> |
        <a href="{{instagram}}" target="_blank">Instagram</a> |
        <a href="{{facebook}}" target="_blank">Facebook</a>
        </p>
      </div>
    </li>
  </ul>
</div>

{{!-- ADD {{imageURL}} to h2 once it's been added to database --}}