<div class="col mb-4">
  <ul class="list-unstyled">
    <li class="media">
      <div class="media-body b-card">
        <h3 class="mt-0 mb-1 business-name article-title"><i class="fas fa-{{imageURL}}"></i> {{name}}</h3>
        <p class="business-address"><a class="address-link" href="https://www.google.com/maps/search/?api=1&query={{address}}"
            target="_blank">{{address}}</a></p>
        <p class="business-card-text"><a href="{{website}}" target="_blank"><i class="fas fa-globe-americas"></i> Website</a> | 
        <a href="tel:{{phone}}"><i class="fas fa-phone"></i> Call Us</a> | Follow us:
        <a href="{{twitter}}" target="_blank"><i class="fab fa-twitter"></i></a> |
        <a href="{{instagram}}" target="_blank"><i class="fab fa-instagram"></i></a> |
        <a href="{{facebook}}" target="_blank"><i class="fab fa-facebook-f"></i></a>
        </p>
      </div>
    </li>
  </ul>
</div>
  